{% extends 'base.html' %}


{% block title %}
<title>
  Event Listing
</title>
{% endblock title %}

{% block content %}

    <ul>
    {% for event in events %}
    <li><a href="{{event.name}}">{{ event.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock content %}
