{% extends 'base.html' %}


{% block title %}
<title>
  Event Detail
</title>
{% endblock title %}

{% block content %}

    <ul>

    <li>  DESCRIPTION: {{event.description}}  </li>
          <li>  LOCATION: {{event.location}}   </li>
  

    </ul>
{% endblock content %}
