{% extends 'base.html' %}
{% block title %}
<title>Profile</title>
{% endblock title %}
{% block content %}
<div>
  <h2>Edit your profile</h2>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>

</div>
{% endblock content %}
