{% extends 'base.html' %}
{% block title %}<title>Login</title>{% endblock title %}
{% block content %}
<div>
  <h2>Login</h2>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>

</div>
{% endblock %}
