{% extends 'base.html' %}


{% block header %}
{{ user }}
{% endblock header %}



{% block content %}
<p>Username: {{username}}</p>
<p>First name: {{first_name}}</p>
<p>Last name: {{last_name}}</p>
<p>Email: {{email}}</p>
<p>Date joined: {{date_joined}}</p>
{% endblock content %}
