{% extends 'base.html' %}
{% block title %}
<title>Register</title>
{% endblock title %}
{% block content %}
<div>
  <h2>Register</h2>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>

</div>
{% endblock content %}
