<!DOCTYPE html>
<html>
<head>
<style>

body {
  margin:0px;
  margin-top:40px;
  padding: 0px;
}

header {
  background-color: rgb(112, 211, 200);
  position: fixed;
  top:0;
  height:32px;
  width:100%;
  font-family: Arial;
  font-size: 20px;
  color: blue;
  display: flex;
  justify-content: space-between

}

.container1{

  display:flex;
}

.container2{

}
.items{

  display:flex;
  margin-left: 17px;
  margin-right: 17px;
  justify-content: space-between
}

</style>
</head>

<body>
<header>
  <div class= 'container1'>
    <div class="items">Events
    </div>
    <div class="items">
      {% if user.is_authenticated %}
      <a href="/accounts/logout/">LOG OUT</a>
      {% else %}
      <a href="/accounts/login/">LOG IN</a>
      {% endif %}
    </div>
  </div>

  <div class= 'container2'>
    <div class="items">
      {% block header %}
      {{ user }}
      {% endblock header %}
    </div>
  </div>
</header>





    {% block content %}

    {% endblock content %}
</body>
</html>
